@model IEnumerable<InventoryItem>

@{
    ViewData["WindowTitle"] = "Suppliers";
    ViewData["PageTitle"] = "Suppliers";
}

<p class="page-nav-container">
    <span class="glyphicon glyphicon-plus"></span><a class="test" asp-action="Create">Create New</a>
</p>

<p class="page-nav-container">
    <span class="glyphicon glyphicon-th-list"></span><a class="test" asp-action="Search">Search</a>
</p>
