@model IAuditable

<div class='edit-info'>
    <table>
        <tr>
            <td>Added By:</td>
            <td>@Model?.AddedBy</td>
        </tr>
        <tr>
            <td>Added On:</td>
            <td>@(Model.DateAdded != null ? Model.DateAdded.Value.ToShortDateString() : "")</td>
        </tr>
        <tr>
            <td>Updated By:</td>
            <td>@Model?.UpdatedBy</td>
        </tr>
        <tr>
            <td>Updated On:</td>
            <td>@(Model.DateUpdated != null ? Model.DateUpdated.Value.ToShortDateString() : "")</td>
        </tr>
    </table>
</div>

