<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/css/reset.css" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.css" />
    <link rel="stylesheet" asp-href-include="~/css/*.css" />
    <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/*.min.js"></script>
    <script asp-src-include="~/scripts/*.js"></script>

    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="titleband">Egret</div>

    <div id="container">
        <div>
            <div class="leftnav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a asp-controller="Inventory" asp-action="Index"><span class="glyphicon glyphicon-tag"></span>Items</a></li>
                    <li><a asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                    <li><a asp-action="Events"><span class="glyphicon glyphicon-barcode"></span>Events</a></li>
                    <li><a asp-controller="Suppliers" asp-action="Edit"><span class="glyphicon glyphicon-user"></span>Suppliers</a></li>
                    <li><a asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                    <li><a asp-controller="Admin" asp-action="Index"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
                </ul>
            </div><div id="main">
                <div id="main-top" class="lead">
                    @ViewData["HeaderText"]
                </div>
                <div id="main-bottom">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div id="success" class="alert alert-success"><span class="glyphicon glyphicon-check"></span> @TempData["SuccessMessage"]</div>
                    }
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>


</body>
</html>

