<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/css/reset.css" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.css" />
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/*.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("div#main-top").css("height", $("div.leftnav ul li").height() + 1 + "px");
            $("div#main").css("min-height", $("div.leftnav").height() + "px");
            $("table.results tr:even").addClass("shaded");
            $("#main-bottom").css("min-height", $(document).height() - 175 + "px");


            $(".tab-header").removeClass("active");
            $(".tab-header:first-of-type").addClass("active");
            $(".tab-content").css("display", "none");
            $(".tab-content:first-of-type").css("display", "block");

            $("li.tab-header").on("click", function () {
                $("li.tab-header").removeClass("active");
                $(this).addClass("active");

                var idx = $(".tab-header").index(this);

                $(".tab-content").css("display", "none");
                $(".tab-content").eq(idx).css("display", "block");

            });

            $(".radio[value='False']").removeAttr("checked");
            $(".radio").on("click", function () {

                if ($(this).attr("checked") == "checked")
                {
                    $(this).attr("checked", false).attr("value", false);
                }
                else 
                {
                    $(".radio").attr("checked", false).attr("value", false);
                    $(this).prop("checked", true).attr("checked", true).attr("value", true);
                }
                
            })
        });

    </script>

    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="titleband">Egret</div>

    <div id="container">
        <div>
            <div class="leftnav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a asp-controller="Inventory" asp-action="Index"><span class="glyphicon glyphicon-tag"></span>Items</a></li>
                    <li><a asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                    <li><a asp-action="Events"><span class="glyphicon glyphicon-barcode"></span>Events</a></li>
                    <li><a asp-controller="Suppliers" asp-action="Edit"><span class="glyphicon glyphicon-user"></span>Suppliers</a></li>
                    <li><a asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                    <li><a asp-controller="Admin" asp-action="Index"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
                </ul>
            </div><div id="main">
                <div id="main-top" class="lead">
                    @ViewData["HeaderText"]
                </div>
                <div id="main-bottom">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>


</body>
</html>

