<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.css" />
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/silver.css" />
    <script type="text/javascript" asp-href-include="~/lib/jquery/dist/jquery.min.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="titleband">Egret</div>

    <div>
        <div class="leftnav">
            <ul>
                <li><a asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a asp-action="Items"><span class="glyphicon glyphicon-tag"></span>Items</a></li>
                <li><a asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                <li><a asp-action="Events"><span class="glyphicon glyphicon-barcode"></span>Events</a></li>
                <li><a asp-action="Customers"><span class="glyphicon glyphicon-user"></span>Customers</a></li>
                <li><a asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                <li><a asp-action="Admin"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
            </ul>
        </div>

        <div class="main">
            <div class="main-top">
                @ViewBag.Notice<br/><br/>

                @RenderBody()
            </div>
        </div>

    </div>




</body>
</html>

