@{
    Layout = "_IndexTemplate";
    ViewData["WindowTitle"] = "Inventory";
    ViewData["PageTitle"] = "Inventory";
}

<p class="page-link-header"><span class="glyphicon glyphicon-barcode"></span> Items</p>
<p class="page-link">
    <span class="glyphicon glyphicon-plus"></span><a asp-controller="Items" asp-action="Create">Create New</a>
</p>
<p class="page-link">
    <span class="glyphicon glyphicon-search"></span><a asp-controller="Items" asp-action="Search">Search</a>
</p><br />


<p class="page-link-header"><span class="glyphicon glyphicon-log-out"></span> Consumption Events</p>
<p class="page-link">
    <span class="glyphicon glyphicon-plus"></span><a asp-controller="ConsumptionEvents" asp-action="Create">Create New</a>
</p>
<p class="page-link">
    <span class="glyphicon glyphicon-search"></span><a asp-controller="ConsumptionEvents" asp-action="Search">Search</a>
</p><br />


<p class="page-link-header"><span class="glyphicon glyphicon-envelope"></span> Orders</p>
<p class="page-link">
    <span class="glyphicon glyphicon-plus"></span><a asp-controller="Orders" asp-action="Create">Create New</a>
</p>
<p class="page-link">
    <span class="glyphicon glyphicon-search"></span><a asp-controller="Orders" asp-action="Search">Search</a>
</p><br />


<p class="page-link-header"><span class="glyphicon glyphicon-tag"></span> Purchasing Events</p>
<p class="page-link">
    <span class="glyphicon glyphicon-plus"></span><a asp-controller="PurchasingEvents" asp-action="Create">Create New</a>
</p>
<p class="page-link">
    <span class="glyphicon glyphicon-search"></span><a asp-controller="PurchasingEvents" asp-action="Search">Search</a>
</p><br />






