@{
    Layout = "_IndexTemplate";
    ViewData["WindowTitle"] = "Inventory";
    ViewData["PageTitle"] = "Inventory";
}

<p class="index-page-link-header"><span class="fas fa-barcode"></span> Items</p>
<p class="index-page-link">
    <span class="egret egret-add"></span><a asp-controller="Items" asp-action="Create">Create New</a>
</p>
<p class="index-page-link">
    <span class="egret egret-search"></span><a asp-controller="Items" asp-action="Search">Search</a>
</p><br />


<p class="index-page-link-header"><span class="fas fa-sign-out-alt"></span> Consumption Events</p>
<p class="index-page-link">
    <span class="egret egret-add"></span><a asp-controller="ConsumptionEvents" asp-action="Create">Create New</a>
</p>
<p class="index-page-link">
    <span class="egret egret-search"></span><a asp-controller="ConsumptionEvents" asp-action="Search">Search</a>
</p><br />


<p class="index-page-link-header"><span class="fas fa-envelope"></span> Orders</p>
<p class="index-page-link">
    <span class="egret egret-add"></span><a asp-controller="Orders" asp-action="Create">Create New</a>
</p>
<p class="index-page-link">
    <span class="egret egret-search"></span><a asp-controller="Orders" asp-action="Search">Search</a>
</p><br />


<p class="index-page-link-header"><span class="fas fa-tag"></span> Purchasing Events</p>
<p class="index-page-link">
    <span class="egret egret-add"></span><a asp-controller="PurchasingEvents" asp-action="Create">Create New</a>
</p>
<p class="index-page-link">
    <span class="egret egret-search"></span><a asp-controller="PurchasingEvents" asp-action="Search">Search</a>
</p><br />






