@{
    Layout = "_IndexTemplate";
    ViewData["WindowTitle"] = "Administration";
    ViewData["PageTitle"] = "Administration";
}

<p class="index-page-link">
    <span class="fa fa-users"></span><a asp-controller="AccessGroups" asp-action="Index">Access Groups</a>
</p>
        
<p class="index-page-link">
    <span class="fas fa-dollar-sign"></span><a asp-controller="CurrencyTypes" asp-action="Index">Currency Types</a>
</p>

<p class="index-page-link">
    <span class="far fa-list-alt"></span><a asp-controller="InventoryCategories" asp-action="Index">Inventory Categories</a>
</p>

<p class="index-page-link">
    <span class="fas fa-chess-rook"></span><a asp-controller="Roles" asp-action="Index">Roles</a>
</p>

<p class="index-page-link">
    <span class="fas fa-ruler-combined"></span><a asp-controller="Units" asp-action="Index">Units</a>
</p>

<p class="index-page-link">
    <span class="fa fa-user"></span><a asp-controller="Users" asp-action="Index">Users</a>
</p>