@{
    Layout = "_IndexLayout";
    ViewData["WindowTitle"] = "Administration";
    ViewData["PageTitle"] = "Administration";
}

<table class="index-page-link">

    <tr>
        <td><span class="fa fa-address-card"></span></td>
        <td><a asp-controller="AccessGroups">Access Groups</a></td>
    </tr>

    <tr>
        <td><span class="fas fa-dollar-sign"></span></td>
        <td><a asp-controller="CurrencyTypes">Currency Types</a></td>
    </tr>

    <tr>
        <td><span class="fa fa-list-alt"></span></td>
        <td><a asp-controller="InventoryCategories">Inventory Categories</a></td>
    </tr>

    <tr>
        <td><span class="fas fa-chess-rook"></span></td>
        <td><a asp-controller="Roles">Roles</a></td>
    </tr>

    <tr>
        <td><span class="fas fa-box-open"></span></td>
        <td><a asp-controller="StorageLocations">Storage Locations</a></td>
    </tr>

    <tr>
        <td><span class="fas fa-ruler-combined"></span></td>
        <td><a asp-controller="Units">Units</a></td>
    </tr>

    <tr>
        <td><span class="fa fa-users"></span></td>
        <td><a asp-controller="Users">Users</a></td>
    </tr>

</table>

<br />

Database Migration: @ViewBag.EgretVersion
