@{
    Layout = "_IndexTemplate";
    ViewData["WindowTitle"] = "Administration";
    ViewData["PageTitle"] = "Administration";
}

<table class="index-page-link">
    <tr>
        <td><span class="fa fa-users"></span></td>
        <td><a asp-controller="AccessGroups" asp-action="Index">Access Groups</a></td>
    </tr>
    <tr>
        <td><span class="fas fa-dollar-sign"></span></td>
        <td><a asp-controller="CurrencyTypes" asp-action="Index">Currency Types</a></td>
    </tr>
    <tr>
        <td><span class="far fa-list-alt"></span></td>
        <td><a asp-controller="InventoryCategories" asp-action="Index">Inventory Categories</a></td>
    </tr>
    <tr>
        <td><span class="fas fa-chess-rook"></span></td>
        <td><a asp-controller="Roles" asp-action="Index">Roles</a></td>
    </tr>
    <tr>
        <td><span class="fas fa-ruler-combined"></span></td>
        <td><a asp-controller="Units" asp-action="Index">Units</a></td>
    </tr>
    <tr>
        <td><span class="fa fa-user"></span></td>
        <td><a asp-controller="Users" asp-action="Index">Users</a></td>
    </tr>
</table>
