@model Role
@{
    ViewData["WindowTitle"] = "Create Role";
    ViewData["PageTitle"] = "Create Role";
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input for="name" name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </form>

    </div>
</div>