@model InventoryItem

@{
    ViewData["WindowTitle"] = "Inventory - Edit";
    ViewData["PageTitle"] = "Edit Inventory Item: " + @Model.Code;
}

<div class="row">
    <div class="col-md-4">
        

        <form asp-action="Edit">

            <!-- Tab Links -->
            <ul class="nav nav-tabs">
                <li class="tab-header"><a style="outline: none;" href="#">Details</a></li>
                @if (Model.IsConversion == true)
                {
                    <li class="tab-header"><a style="outline: none;" href="#">Conversion</a></li>
                }
            </ul>

            <br />

            <div class="tab-content">

                <div class="form-group">
                    <input type="hidden" asp-for="Code" />
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-control" asp-items="ViewBag.Category">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea asp-for="Comment" class="form-control" style="height: 8em;"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <label asp-for="Sellprice" class="control-label"></label>
                <div class="form-group form-inline">
                    <input asp-for="Sellprice" class="form-control" style="width: 25%;" />
                    <select asp-for="Sellcurrency" class="form-control" style="width: 25%;" asp-items="ViewBag.Sellcurrency">
                        <option value=""></option>
                    </select>
                    <select asp-for="Sellunit" class="form-control" style="width: 20%;" asp-items="ViewBag.Sellunit">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="Sellprice" class="text-danger"></span>
                    <span asp-validation-for="Sellcurrency" class="text-danger"></span>
                    <span asp-validation-for="Sellunit" class="text-danger"></span>
                </div>
                <label asp-for="Buyprice" class="control-label"></label>
                <div class="form-group form-inline" style="width: 100%">
                    <input asp-for="Buyprice" class="form-control" style="width: 25%;" />
                    <select asp-for="Buycurrency" class="form-control" style="width: 25%;" asp-items="ViewBag.Buycurrency">
                        <option value=""></option>
                    </select>
                    <select asp-for="Buyunit" class="form-control" style="width: 20%;" asp-items="ViewBag.Buyunit">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="Buyprice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier" class="control-label"></label>
                    <input asp-for="Supplier" class="form-control" />
                    <span asp-validation-for="Supplier" class="text-danger"></span>
                </div>
            </div><!-- end tab-content -->


            <div class="tab-content">
                <div class="form-group">
                    <label asp-for="ConversionSource" class="control-label"></label>
                    <input asp-for="ConversionSource" class="form-control" />
                    <span asp-validation-for="ConversionSource" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddedBy" class="control-label"></label>
                    <input asp-for="AddedBy" class="form-control" readonly="readonly" />
                    <span asp-validation-for="AddedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" readonly="readonly" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateAdded" class="control-label"></label>
                    <input asp-for="DateAdded" class="form-control" readonly="readonly" />
                    <span asp-validation-for="DateAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateUpdated" class="control-label"></label>
                    <input asp-for="DateUpdated" class="form-control" readonly="readonly" />
                    <span asp-validation-for="DateUpdated" class="text-danger"></span>
                </div>
            </div><!-- end tab content -->

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>

        </form>
    </div>
</div>