@model IEnumerable<InventoryItem>

@{
    ViewData["WindowTitle"] = "Inventory";
    ViewData["PageTitle"] = "Inventory";
}

<p class="page-nav-container">
    <span class="glyphicon glyphicon-plus"></span><a asp-action="Create">Create New</a>
</p>

<p class="page-nav-container">
    <span class="glyphicon glyphicon-th-list"></span><a asp-action="Search">Search</a>
</p>




