@model IEnumerable<InventoryItem>

@{
    ViewData["WindowTitle"] = "Inventory";
    ViewData["PageTitle"] = "Inventory";
}

<div class="row">
    <div class="col-md-12">

        <p class="page-link-header">Items</p>

        <p class="page-link">
            <span class="glyphicon glyphicon-plus"></span><a asp-action="Create">Create New</a>
        </p>
        <p class="page-link">
            <span class="glyphicon glyphicon-search"></span><a asp-action="Search">Search</a>
        </p>

        <p class="page-link-header">Consumption Events</p>

        <p class="page-link">
            <span class="glyphicon glyphicon-plus"></span><a asp-action="Create">Create New</a>
        </p>
        <p class="page-link">
            <span class="glyphicon glyphicon-search"></span><a asp-action="Search">Search</a>
        </p>


    </div>
</div>






