@model IEnumerable<InventoryItem>

@{
    ViewData["WindowTitle"] = "Inventory";
    ViewData["PageTitle"] = "Inventory";
}

<p class="page-nav-container">
    <a class="test" asp-action="Create">Create New</a>
</p>

<p class="page-nav-container">
    <a class="test" asp-action="Search">Search</a>
</p>




