@import "~reset-css/sass/_reset.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
$fa-font-path: "../../dist/fonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/_variables.scss";
@import "egret-icons.scss";
@import "egret-common.scss";



body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

label {
    margin-bottom: 2px;
    line-height: 1;
}

.login-box {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    padding: 10px;
    font-size: 20pt;
    background-color: #282e44;
    color: #fff;
}

.login-form {
    padding: 10px;
    background-color: #fff;
}

#titleband {
    font: "verdana" bold;
    font-size: 30pt;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container {
    width: 100%;
    display: inline-block;
}

nav {
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    overflow: hidden;
}

nav .icon {
    display: none;
}

nav li {
    text-align: center;
    border-bottom: 1px solid $accent;
    padding: 2px;
    background-color: $primary;
    margin: 0;
    padding: 0;
}

nav .fas, nav .fa, nav .glyphicon {
    display: block;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav span {
    display: block;
    margin: 0;
    font-size: 25pt;
}

nav a,
nav a:hover {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 5px;
}

nav a:hover {
    background-color: $accent;
}

nav a:active,
nav a:focus {
    color: #fff;
    text-decoration: none;
}


#main {
    margin: 0;
    vertical-align: top;
    background-color: #fff;
    width: 90%;
    float: left;
}

#main-top {
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    padding: 10px;
}

#main-bottom {
    background-color: transparent;
    padding: 20px;
    margin: 0;
}


td, th {
    padding-left: 10px;
}

table, td {
    vertical-align: top;
    padding-bottom: 5px;
}

th {
    font-weight: bold;
    background-color: #ccc;
    padding-bottom: 10px;
    border-right: 1px solid #fff;
}

.clickable-row:hover {
    background-color: #eee;
    cursor: pointer;
}

/* Manage tabs */
.tab-content {
    display: none;
}


.validation-summary-errors ul {
    padding-left: 10px;
    list-style-type: disc;
}

/* Used by main pages */
.index-page-link {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.index-page-link span {
    font-size: 24px;
}

.index-page-link span {
    padding-right: 8px;
    padding-left: 30px;
}

.index-page-link-header {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    font-size: 18pt;
}

.required::before {
    content: "* ";
    color: red;
}

.delete,
.delete:hover,
.delete:active,
.delete:visited,
.delete-box,
.delete-box:hover,
.delete-box:active,
.delete-box:visited {
    color: #000;
    font-size: 25px;
    font-size: 1em;
    text-decoration: none;
}

.widget-box {
    text-align: center;
}

.widget-box span {
    margin-top: 10px;
    font-size: 1em;
    vertical-align: middle;
    display: inline-block;
}

.add-button {
    border: 1px solid #000;
}

.add-button:hover {
    background-color: #ccc;
}

.widget-boundary {
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 30px;
}

.related-objects {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.related-objects-header {
    padding: 10px;
    background-color: $primary;
    color: #fff;
}

.related-object-link,
.related-object-link:hover,
.related-object-link:active,
.related-object-link:focus {
    text-decoration: none;
    color: black;
}

.related-object-div {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #000;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.related-object-div:hover {
    background-color: #d3d3d3;
}

.related-object-blank {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #000;
    color: black;
}






@media screen and (max-width: 940px) {
    nav li {
        display: none;
    }

    nav {
        width: 90%;
    }

    nav .icon {
        display: block;
    }
}

@media screen and (max-width: 940px) {

    nav {
        width: 90%;
    }

    nav ul,
    nav span {
        display: inline;
    }

    nav.responsive li {
        width: 100%;
        display: block;
    }
}


@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: 2s rotate360 infinite linear;
}


.language-label {
    font-size: calc(100% - 2px);
    color: #999;
}

.stock-display td:last-child {
    width: 100%;
}

.stock-display tr {
    white-space: nowrap;
}

.grid {
    display: grid;
}

.default-fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

.default-legend {
    font-size: 1.2em !important;
    width: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-bottom: none;
}