@model InventoryItem

@{
    Layout = "_SingleColumnLayout";
    ViewData["WindowTitle"] = "Item - Create";
    ViewData["PageTitle"] = "Create New Item";
}

<form asp-action="Create">

    <!-- Tab Links -->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active">Details</a></li>
    </ul>

    <br />

    <!-- Details -->
    <div class="tab-content">

        <div class="form-group">
            <label asp-for="Description" include-languages="Nepali" class="control-label required"></label>
            <textarea asp-for="Description" class="form-control" style="height: 6em;"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" include-languages="Nepali" class="control-label required"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="StorageLocationId" include-languages="Nepali" class="control-label"></label>
            <input asp-for="StorageLocationId" class="form-control" />
        </div>

        <label asp-for="QtyPurchased" include-languages="Nepali" class="control-label required"></label>
        <div class="form-group form-inline">
            <input asp-for="QtyPurchased" style="width: 25%;" class="form-control col-md-4 mr-2" />
            <select asp-for="UnitId" style="width: 25%;" class="form-control" asp-items="ViewBag.Unit">
                <option value=""></option>
            </select>
        </div>

        <fieldset class="default-fieldset">
            <legend class="col-form-label default-legend">Costs</legend>

            <label asp-for="FobCost" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline">
                <input asp-for="FobCost" class="form-control col-md-6 mr-2" />
                <select asp-for="FobCostCurrencyId" class="form-control" asp-items="ViewBag.FobCostCurrency">
                    <option value=""></option>
                </select>
            </div>

            <label asp-for="ShippingCost" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline">
                <input asp-for="ShippingCost" class="form-control col-md-6 mr-2" />
                <select asp-for="ShippingCostCurrencyId" class="form-control" asp-items="ViewBag.ShippingCostCurrency">
                    <option value=""></option>
                </select>
            </div>

            <label asp-for="ImportCosts" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline" style="width: 100%">
                <input asp-for="ImportCosts" class="form-control col-md-6 mr-2" />
                <select asp-for="ImportCostCurrencyId" class="form-control" asp-items="ViewBag.ImportCostCurrency">
                    <option value=""></option>
                </select>
            </div>
        </fieldset><br />

        <div class="form-group">
            <label asp-for="CustomerPurchasedFor" include-languages="Nepali" class="control-label required"></label>
            <input asp-for="CustomerPurchasedFor" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="CustomerReservedFor" include-languages="Nepali" class="control-label required"></label>
            <input asp-for="CustomerReservedFor" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Supplier" include-languages="Nepali" class="control-label"></label>
            <input asp-for="Supplier" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="QtyToPurchaseNow" include-languages="Nepali" class="control-label"></label>
            <input asp-for="QtyToPurchaseNow" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="TargetPrice" include-languages="Nepali" class="control-label"></label>
            <input asp-for="TargetPrice" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ShippingCompany" include-languages="Nepali" class="control-label"></label>
            <input asp-for="ShippingCompany" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BondedWarehouse" include-languages="Nepali" class="control-label"></label>
            <input asp-for="BondedWarehouse" style="display: block" type="checkbox" />
        </div>

        <div class="form-group">
            <label asp-for="Comments" include-languages="Nepali" class="control-label"></label>
            <textarea asp-for="Comments" class="form-control" style="height: 8em;"></textarea>
        </div>

    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>

