@model InventoryItem

@{
    Layout = "_CrudSingleColumn";
    ViewData["WindowTitle"] = "Item - Create";
    ViewData["PageTitle"] = "Create New Item";
}

<form asp-action="Create">

    <!-- Tab Links -->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active">Details</a></li>
    </ul>

    <br />

    <!-- Details -->
    <div class="tab-content">

        <div class="form-group">
            <label asp-for="Description" include-languages="Nepali" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" style="height: 6em;"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Category" include-languages="Nepali" class="control-label"></label>
            <select asp-for="Category" class="form-control" asp-items="ViewBag.Category">
                <option value=""></option>
            </select>
        </div>

        <label asp-for="QtyPurchased" include-languages="Nepali" class="control-label"></label>
        <div class="form-group form-inline">
            <input asp-for="QtyPurchased" style="width: 25%;" class="form-control mr-2" />
            <select asp-for="Unit" style="width: 25%;" class="form-control" asp-items="ViewBag.Unit">
                <option value=""></option>
            </select>
        </div>

        <label class="control-label">Costs</label>
        <div style="border: 1px solid #000; padding: 10px;">
            <label asp-for="FOBCost" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline">
                <input asp-for="FOBCost" class="form-control mr-2" />
                <select asp-for="FOBCostCurrency" class="form-control" asp-items="ViewBag.FOBCostCurrency">
                    <option value=""></option>
                </select>
            </div>

            <label asp-for="ShippingCost" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline">
                <input asp-for="ShippingCost" class="form-control mr-2" />
                <select asp-for="ShippingCostCurrency" class="form-control" asp-items="ViewBag.ShippingCostCurrency">
                    <option value=""></option>
                </select>
            </div>

            <label asp-for="ImportCosts" include-languages="Nepali" class="control-label"></label>
            <div class="form-group form-inline" style="width: 100%">
                <input asp-for="ImportCosts" class="form-control mr-2" />
                <select asp-for="ImportCostCurrency" class="form-control" asp-items="ViewBag.ImportCostCurrency">
                    <option value=""></option>
                </select>
            </div>
        </div><br />

        <div class="form-group">
            <label asp-for="CustomerPurchasedFor" include-languages="Nepali" class="control-label"></label>
            <input asp-for="CustomerPurchasedFor" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="CustomerReservedFor" include-languages="Nepali" class="control-label"></label>
            <input asp-for="CustomerReservedFor" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Supplier" include-languages="Nepali" class="control-label"></label>
            <input asp-for="Supplier" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="QtyToPurchaseNow" include-languages="Nepali" class="control-label"></label>
            <input asp-for="QtyToPurchaseNow" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ApproxProdQty" include-languages="Nepali" class="control-label"></label>
            <input asp-for="ApproxProdQty" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="NeededBefore" include-languages="Nepali" class="control-label"></label>
            <input asp-for="NeededBefore" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="TargetPrice" include-languages="Nepali" class="control-label"></label>
            <input asp-for="TargetPrice" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ShippingCompany" include-languages="Nepali" class="control-label"></label>
            <input asp-for="ShippingCompany" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="BondedWarehouse" include-languages="Nepali" class="control-label"></label>
            <input asp-for="BondedWarehouse" style="display: block" type="checkbox" />
        </div>

        <div class="form-group">
            <label asp-for="Comments" include-languages="Nepali" class="control-label"></label>
            <textarea asp-for="Comments" class="form-control" style="height: 8em;"></textarea>
        </div>

    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>

