@model ItemModel

@{
    Layout = "_DoubleColumnLayout";
    ViewData["WindowTitle"] = $"Item {Model?.Item.Code} - Edit";
    ViewData["PageTitle"] = "Edit Item: " + @Model?.Item.Code;
}

<div class="row">
        
    <div class="col-md-8">

        <!-- Tab Links -->
        <ul class="nav nav-tabs" id="ItemTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="false">Fabric Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="accounting-tab" data-toggle="tab" href="#accounting" role="tab" aria-controls="accounting" aria-selected="false">Accounting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logistics-tab" data-toggle="tab" href="#logistics" role="tab" aria-controls="logistics" aria-selected="false">Logistics</a>
            </li>
        </ul>

        <br />

        <form asp-action="Edit">
            <!-- Tabs -->
            <div class="tab-content" id="tabContent">
                <!-- Details -->
                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labeledby="details-tab">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Item.Code" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.Code" class="form-control" readonly />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Description" include-languages="Nepali" class="control-label required"></label>
                            <textarea asp-for="Item.Description" class="form-control" style="height: 6em;"></textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.CategoryId" include-languages="Nepali" class="control-label required"></label>
                            <select asp-for="Item.CategoryId" class="form-control" asp-items="ViewBag.Category">
                                <option value=""></option>
                            </select>
                        </div>

                        <label asp-for="Item.QtyPurchased" include-languages="Nepali" class="control-label required"></label>
                        <div class="form-group form-inline">
                            <input asp-for="Item.QtyPurchased" class="form-control col-sm-4 mr-2" />
                            <select asp-for="Item.UnitId" class="form-control" asp-items="ViewBag.Unit">
                                <option value=""></option>
                            </select>
                        </div>

                        <fieldset class="default-fieldset">
                            <legend class="col-form-label default-legend">Costs</legend>
                            <label asp-for="Item.FOBCost" include-languages="Nepali" class="control-label"></label>
                            <div class="form-group form-inline">
                                <input asp-for="Item.FOBCost" class="form-control col-md-6 mr-2" />
                                <select asp-for="Item.FOBCostCurrencyId" class="form-control" asp-items="ViewBag.FOBCostCurrency">
                                    <option value=""></option>
                                </select>
                            </div>

                            <label asp-for="Item.ShippingCost" include-languages="Nepali" class="control-label"></label>
                            <div class="form-group form-inline">
                                <input asp-for="Item.ShippingCost" class="form-control col-md-6 mr-2" />
                                <select asp-for="Item.ShippingCostCurrencyId" class="form-control" asp-items="ViewBag.ShippingCostCurrency">
                                    <option value=""></option>
                                </select>
                            </div>

                            <label asp-for="Item.ImportCosts" include-languages="Nepali" class="control-label"></label>
                            <div class="form-group form-inline">
                                <input asp-for="Item.ImportCosts" class="form-control col-md-6 mr-2" />
                                <select asp-for="Item.ImportCostCurrencyId" class="form-control" asp-items="ViewBag.ImportCostCurrency">
                                    <option value=""></option>
                                </select>
                            </div>
                        </fieldset>

                        <br />

                        <div class="form-group">
                            <label asp-for="Item.CustomerPurchasedFor" include-languages="Nepali" class="control-label required"></label>
                            <input asp-for="Item.CustomerPurchasedFor" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.CustomerReservedFor" include-languages="Nepali" class="control-label required"></label>
                            <input asp-for="Item.CustomerReservedFor" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Supplier" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.Supplier" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.QtyToPurchaseNow" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.QtyToPurchaseNow" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.TargetPrice" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.TargetPrice" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.ShippingCompany" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.ShippingCompany" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.BondedWarehouse" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.BondedWarehouse" style="display: block" type="checkbox" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Comments" include-languages="Nepali" class="control-label"></label>
                            <textarea asp-for="Item.Comments" class="form-control" style="height: 8em;"></textarea>
                        </div>

                    </div>
                </div>

                <!-- Fabric Tests -->
                <div class="tab-pane fade show" id="tests" role="tabpanel" aria-labeledby="tests-tab">
                    <div class="col-md-12">

                        <table id="tests" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.FabricTests[0].Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.FabricTests[0].Result)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.FabricTests?.Count() == 0)
                                {
                                    <tr id="notests"><td colspan="3" class="text-center">There are currently no Fabric Tests.</td></tr>
                                }
                                else
                                {
                                    <tr id="notests" style="display: none;"><td colspan="3" class="text-center">There are currently no Tests.</td></tr>

                                    @for (int i = 0; i < Model.FabricTests?.Count(); i++)
                                    {
                                        <tr class="fabrictest">
                                            <td>
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="FabricTests[i].Id" class="testId" />
                                                    <input asp-for="FabricTests[i].Name" class="form-control testName" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input asp-for="FabricTests[i].Result" class="form-control testResult" />
                                                </div>
                                            </td>
                                            <td class="delete-box">
                                                <a style="font-size: 1em;" class="delete-test" title="Delete" href="#"><span class="egret egret-trash"></span></a>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>

                        <a onclick="AddTableRow()" class="btn add-button"><span style="color: green;" class="egret egret-add"></span> Add Test</a>

                    </div>
                </div>

                <!-- Accounting -->
                <div class="tab-pane fade show" id="accounting" role="tabpanel" aria-labeledby="accounting-tab">
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="Item.TotalCost" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.TotalCost" class="form-control" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.CostPerUnit" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.CostPerUnit" class="form-control" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.TotalCostPerUnit" include-languages="Nepali" class="control-label"></label>
                            <input asp-for="Item.TotalCostPerUnit" class="form-control" readonly="readonly" />
                        </div>

                    </div>
                </div>

                <!-- Logistics -->
                <div class="tab-pane fade show" id="logistics" role="tabpanel" aria-labeledby="logistics-tab">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Item.DateConfirmed" class="control-label"></label>
                            <input asp-for="Item.DateConfirmed" class="form-control" style="width: 50%;" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.DateShipped" class="control-label"></label>
                            <input asp-for="Item.DateShipped" class="form-control" style="width: 50%;" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.DateArrived" class="control-label"></label>
                            <input asp-for="Item.DateArrived" class="form-control" style="width: 50%;" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.DaysToConfirm" class="control-label"></label>
                            <input asp-for="Item.DaysToConfirm" class="form-control" style="width: 50%;" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.DaysToShip" class="control-label"></label>
                            <input asp-for="Item.DaysToShip" class="form-control" style="width: 50%;" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.DaysToComplete" class="control-label"></label>
                            <input asp-for="Item.DaysToComplete" class="form-control" style="width: 50%;" readonly="readonly" />
                        </div>

                    </div>
                </div>

            </div>

            <div>
                <br />
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
            </div>

            <br />

        </form>

    </div>

    <div class="col-md-4">

        @await Html.PartialAsync("_ObjectInformationWidget", Model.Item)

        @await Html.PartialAsync("_InStockWidget", Model.Item)

        @await Html.PartialAsync("_DeleteWidget", new ItemDeleteViewModel(Model.Item.Code))

        @await Html.PartialAsync("_RelatedObjectsWidget", new RelationshipViewModelConsumption(Model.ConsumptionEvents.OrderBy(x => x.DateOfConsumption).ToList(), Model.Item.Code))

    </div>

    @section Scripts {
        SetTestsForDelete();
    }

</div>

