@model ItemSearchModel
@{
    Layout = "_SearchLayout";
    ViewData["WindowTitle"] = "Items - Search";
    ViewData["PageTitle"] = "Search Items";
}

<form asp-action="Results" method="get">

    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="StorageLocation" class="control-label"></label>
        <select asp-for="StorageLocation" class="form-control" asp-items="ViewBag.StorageLocations">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CustomerPurchasedFor" class="control-label"></label>
        <input asp-for="CustomerPurchasedFor" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CustomerReservedFor" class="control-label"></label>
        <input asp-for="CustomerReservedFor" class="form-control" />
    </div>

    <label class="control-label" asp-for="DateCreatedStart">Date Added</label>
    <div class="form-group">
        <div class="input-group">
            <input asp-for="DateCreatedStart" class="form-control" />
            <span class="input-group-text"><i class="icon-user">-</i></span>
            <input asp-for="DateCreatedEnd" class="form-control" />
        </div>
    </div>
            
    <div class="form-group">
        <label asp-for="InStock" class="control-label"></label>
        <select asp-for="InStock" class="form-control">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ResultsPerPage" class="control-label">Results Per Page</label>
        <select asp-for="ResultsPerPage" asp-items="ViewBag.ResultsPerPage" class="form-control"></select>
        <input type="hidden" asp-for="CurrentPage" />
    </div><br />

    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Inventory</a>
</div>