
@{
    Layout = "_IndexLayout";
    ViewData["WindowTitle"] = "Egret - Error";
    ViewData["PageTitle"] = "Error " + ViewBag.StatusCode;
}

<i style="font-size: 30pt;" class="fas fa-exclamation-triangle"></i>&nbsp; <p style="display:inline; font-size: 14pt;">@ViewBag.ErrorMessage</p>
