@model CurrencyType
@{
    Layout = "_CrudSingleColumn";
    ViewData["WindowTitle"] = "Currency Type - Create";
    ViewData["PageTitle"] = "Create Currency Type";
}

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Abbreviation" class="control-label"></label>
        <input asp-for="Abbreviation" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Symbol" class="control-label"></label>
        <input asp-for="Symbol" class="form-control" />
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="Active" checked="checked" />@Html.DisplayNameFor(model => model.Active)
            </label>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>