@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
    ViewData["Headertext"] = "User Details";
}

<div class="bg-primary panel-body">
    <h4>User Accounts</h4>
</div>

<table class="table table-condensed table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @if (Model == null)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (User user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-action="Create">Create</a>

