
@{
    ViewData["Title"] = "Administration";
    ViewData["HeaderText"] = "Administration";
}

<p class="page-nav-container">
    <a asp-controller="CurrencyTypes" asp-action="Index">Currency Types</a>
</p>
<p class="page-nav-container">
    <a asp-controller="InventoryCategories" asp-action="Index">Inventory Categories</a>
</p>
<p class="page-nav-container">
    <a asp-controller="Units" asp-action="Index">Units</a>
</p>

