
@{
    ViewData["Title"] = "Administration";
    ViewBag.Notice = "Administration";
}

<br />

<p>
    <a class="test" asp-action="Create">Currency Types</a>
</p>
<p>
    <a class="test" asp-action="Create">Inventory Items</a>
</p>
<p>
    <a class="test" asp-controller="Unit" asp-action="Index">Units</a>
</p>

