
@{
    ViewData["Title"] = "Administration";
    ViewBag.Notice = "Administration";
}

<br />

<p>
    <a class="test" asp-controller="CurrencyTypes" asp-action="Edit">Currency Types</a>
</p>

<br />

<p>
    <a class="test" asp-controller="Categories" asp-action="Edit">Inventory Categories</a>
</p>

<br />

<p>
    <a class="test" asp-controller="Units" asp-action="Index">Units</a>
</p>

