body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

#container {
    width: 100%;
}

#titleband {
    font: "verdana" bold;
    font-size: 30pt;
    color: #000;
    margin-bottom: 20px;
}

.leftnav {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.leftnav li {
    text-align: center;
    border-bottom: 1px solid #368798;
    padding: 2px;
    background-color: #0f0e31;
    margin: 0;
    padding: 0;
}

.leftnav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftnav span {
    display: block;
    margin: 0;
    font-size: 25pt;
}

.leftnav a,
.leftnav a:hover {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 5px;
}

.leftnav a:hover {
    background-color: #254a7d;
}


#main {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 90%;
}

#main-top {
    min-width: 700px;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    display: block;
    margin: 0;
}

#main-bottom {
    background-color: transparent;
    display: block;
    padding: 20px;
    margin: 0;
}


td, th {
    padding-left: 10px;
}

table, td {
    vertical-align: top;
    padding-bottom: 5px;
}

th {
    font-weight: bold;
    background-color: #ccc;
    padding-bottom: 10px;
    border-right: 1px solid #fff;
}

.shaded {
    background-color: #eee;
}

.clickable-row:hover {
    background-color: #eee;
    cursor: pointer;
}

/* Manage tabs */
.tab-content {
    display: none;
}


.validation-summary-errors ul {
    padding-left: 10px;
    list-style-type: disc;
}

/* Used by main pages */
.page-link {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.page-link span {
    padding-right: 8px;
    padding-left: 30px;
}

.page-link-header {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    font-size: 18pt;
}

.related-objects {
    border-left: 1px solid #0f0e31;
    border-right: 1px solid #0f0e31;
}

.related-objects-header {
    padding: 10px;
    background-color: #0f0e31;
    color: white;
}

.related-object-link,
.related-object-link:hover,
.related-object-link:active,
.related-object-link:focus {
    text-decoration: none;
    color: black;
}

.related-object-link:hover {
    background-color: #368798;
}

.related-object-div {
    padding: 5px;
    border-bottom: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.related-object-div:hover {
    background-color: lightgray; /*#368798*/
}

.related-object-blank {
    padding: 5px;
    border-bottom: 1px solid black;
    color: black;
}

.edit-info {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 30px;
}

.required::after {
    content: " *";
    color: red;
}

.delete,
.delete:hover,
.delete:active,
.delete:visited {
    color: #000;
    font-size: 25px;
    font-size: 1em;
    text-decoration: none;    
}

.delete-box {
    text-align: center;
}

.delete-box span {
    margin-top: 10px;
    font-size: 1em;
    vertical-align: middle;
}