@model IDeleteModel

@if (User.IsInRole(Model.AccessGroupName))
{
    <form asp-action="Delete">

        <div class="related-objects">
            <div class="related-objects-header">
                Delete
            </div>
            <div class="related-object-blank">
                <div class="delete-box">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <button delete-for="@Model.ObjectName" type="submit" style="cursor: pointer; border: none; background-color: transparent;" class="delete" title="Delete"><span class="egret egret-trash"></span></button>
                </div>
            </div>
        </div>

    </form>

    <br /><br />
}
