@model Egret.DataAccess.InventoryItem

@{
    ViewData["Title"] = "Inventory - Create";
    ViewBag.Notice = "Inventory - Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class ="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control" style="height: 8em;"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <label asp-for="Sellprice" class="control-label"></label>
            <div class="form-group form-inline">
                <input asp-for="Sellprice" class="form-control" style="width: 25%;" />
                <select asp-for="Sellcurrency" class="form-control" style="width: 25%;" asp-items="ViewBag.Sellcurrency"></select>
                <select asp-for="Sellunit" class="form-control" style="width: 20%;" asp-items="ViewBag.Sellunit"></select>
                <span asp-validation-for="Sellprice" class="text-danger"></span>
            </div>
            <label asp-for="Buyprice" class="control-label"></label>
            <div class="form-group form-inline" style="width: 100%">
                <input asp-for="Buyprice" class="form-control" style="width: 25%;" />
                <select asp-for="Buycurrency" class="form-control" style="width: 25%;" asp-items="ViewBag.Buycurrency"></select>
                <select asp-for="Buyunit" class="form-control" style="width: 20%;" asp-items="ViewBag.Buyunit"></select>
                <span asp-validation-for="Buyprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stockvalue" class="control-label"></label>
                <input asp-for="Stockvalue" class="form-control" />
                <span asp-validation-for="Stockvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierFk" class="control-label"></label>
                <input asp-for="SupplierFk" class="form-control" />
                <span asp-validation-for="SupplierFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesacct" class="control-label"></label>
                <input asp-for="Salesacct" class="form-control" />
                <span asp-validation-for="Salesacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stockacct" class="control-label"></label>
                <input asp-for="Stockacct" class="form-control" />
                <span asp-validation-for="Stockacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cogacct" class="control-label"></label>
                <input asp-for="Cogacct" class="form-control" />
                <span asp-validation-for="Cogacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sohcount" class="control-label"></label>
                <input asp-for="Sohcount" class="form-control" />
                <span asp-validation-for="Sohcount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stocktakenewqty" class="control-label"></label>
                <input asp-for="Stocktakenewqty" class="form-control" />
                <span asp-validation-for="Stocktakenewqty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flags" class="control-label"></label>
                <input asp-for="Flags" class="form-control" />
                <span asp-validation-for="Flags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtybrksellprice" class="control-label"></label>
                <input asp-for="Qtybrksellprice" class="form-control" />
                <span asp-validation-for="Qtybrksellprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costprice" class="control-label"></label>
                <input asp-for="Costprice" class="form-control" />
                <span asp-validation-for="Costprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

