@model Egret_Dev.EF.InventoryItem

@{
    ViewBag.Title = "New Inventory Item";
    ViewBag.Notice = "New Item";
}
<form id="main" asp-action="NewItem" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Code">Code:</label>
            </td>
            <td>
                <input asp-for="Code" class="form-control" disabled="disabled" tabindex="1"/>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Description">Description:</label>
            </td>
            <td>
                <textarea asp-for="Description" class="form-control" tabindex="2"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Buyingunitprice">Buy Price:</label>
            </td>
            <td>
                <input asp-for="Buyingunitprice" class="form-control" tabindex="3" />
            </td>
        </tr>

    </table>

    <input type="button" class="btn btn-primary" value="Save" tabindex="4" />
    <input type="button" class="btn btn-default" value="Cancel" onclick="location.href='@Url.Action("Index")'" tabindex="5" />

</form>
<br />


