@model Egret.DataAccess.InventoryItems

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InventoryItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stockvalue" class="control-label"></label>
                <input asp-for="Stockvalue" class="form-control" />
                <span asp-validation-for="Stockvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sellprice" class="control-label"></label>
                <input asp-for="Sellprice" class="form-control" />
                <span asp-validation-for="Sellprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierFk" class="control-label"></label>
                <input asp-for="SupplierFk" class="form-control" />
                <span asp-validation-for="SupplierFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesacct" class="control-label"></label>
                <input asp-for="Salesacct" class="form-control" />
                <span asp-validation-for="Salesacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stockacct" class="control-label"></label>
                <input asp-for="Stockacct" class="form-control" />
                <span asp-validation-for="Stockacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cogacct" class="control-label"></label>
                <input asp-for="Cogacct" class="form-control" />
                <span asp-validation-for="Cogacct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stocktakenewqty" class="control-label"></label>
                <input asp-for="Stocktakenewqty" class="form-control" />
                <span asp-validation-for="Stocktakenewqty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flags" class="control-label"></label>
                <input asp-for="Flags" class="form-control" />
                <span asp-validation-for="Flags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sohcount" class="control-label"></label>
                <input asp-for="Sohcount" class="form-control" />
                <span asp-validation-for="Sohcount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buyprice" class="control-label"></label>
                <input asp-for="Buyprice" class="form-control" />
                <span asp-validation-for="Buyprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buyunit" class="control-label"></label>
                <input asp-for="Buyunit" class="form-control" />
                <span asp-validation-for="Buyunit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtybrksellprice" class="control-label"></label>
                <input asp-for="Qtybrksellprice" class="form-control" />
                <span asp-validation-for="Qtybrksellprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sellcurrency" class="control-label"></label>
                <input asp-for="Sellcurrency" class="form-control" />
                <span asp-validation-for="Sellcurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buycurrency" class="control-label"></label>
                <input asp-for="Buycurrency" class="form-control" />
                <span asp-validation-for="Buycurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costprice" class="control-label"></label>
                <input asp-for="Costprice" class="form-control" />
                <span asp-validation-for="Costprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sellunit" class="control-label"></label>
                <input asp-for="Sellunit" class="form-control" />
                <span asp-validation-for="Sellunit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isconversion" class="control-label"></label>
                <input asp-for="Isconversion" class="form-control" />
                <span asp-validation-for="Isconversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conversionsource" class="control-label"></label>
                <input asp-for="Conversionsource" class="form-control" />
                <span asp-validation-for="Conversionsource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Useraddedby" class="control-label"></label>
                <input asp-for="Useraddedby" class="form-control" />
                <span asp-validation-for="Useraddedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userlastupdatedby" class="control-label"></label>
                <input asp-for="Userlastupdatedby" class="form-control" />
                <span asp-validation-for="Userlastupdatedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateadded" class="control-label"></label>
                <input asp-for="Dateadded" class="form-control" />
                <span asp-validation-for="Dateadded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateupdated" class="control-label"></label>
                <input asp-for="Dateupdated" class="form-control" />
                <span asp-validation-for="Dateupdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

