@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Notice = "Inventory Items";
}
<a asp-action="SearchInventory">Search Inventory</a><br />
<a asp-action="NewInventory">Add Inventory Item</a><br />
