@model IEnumerable<Egret.DataAccess.InventoryItem>

@{
    ViewData["Title"] = "Inventory";
    ViewData["HeaderText"] = "Inventory";
}

<p class="page-nav-container">
    <a class="test" asp-action="Create">Create New</a>
</p>

<p class="page-nav-container">
    <a class="test" asp-action="Search">Search</a>
</p>

<p class="page-nav-container">
    <a class="test" asp-action="SearchResults">Search Results</a>
</p>



