@{
    ViewBag.Title = "New Inventory Item";
    ViewBag.Notice = "New Item";
}
<form id="main">
    <label>Code:</label><text disabled="true"></text><br />
    <label>Description:</label><textarea class="form-control"></textarea>
    <label>Buy Price:</label><input class="form-control" />
</form>
