@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<InventoryItem>

@{
    ViewBag.Title = "Inventory Search";
    ViewBag.Notice = "Inventory Search";
}

<table class="results">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Buy Price</th>
        <th>Unit</th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Code</td>
            <td>@entity.Description</td>
            <td class="text-right">@entity.Buyingunitprice.Value.ToString("c")</td>
            <td>@entity.Buyingunit</td>
        </tr>
    }
</table>
