@{
    Layout = "_IndexLayout";
    ViewData["WindowTitle"] = "Reports";
    ViewData["PageTitle"] = "Reports";
}

<div>
    <p class="index-page-link-header"><span icon-for="InventoryItem"></span> Item Reports</p>
    <p class="index-page-link" authorize-for="Report_Read">
        <span class="egret egret-search"></span><a asp-action="CurrentInventoryReport">Total Stock Value by Category</a><br />
    </p>
    <p class="index-page-link" authorize-for="Report_Read">
        <span class="egret egret-search"></span><a asp-action="InventoryFinancialDataReport">Total Inventory Financial Data Report</a><br />
    </p>
</div>
<br />
<br />