body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
}

.test:hover {
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: inherit;
    display: inline;
}

a {
    text-decoration: none;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}

#container {
    width: 100%;
}

.leftnav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.titleband {
    font: "verdana" bold;
    font-size: 20pt;
    color: #000;
    margin-bottom: 20px;
}

.leftnav li {
    text-align: center;
    border-bottom: 1px solid #368798;
    padding: 2px;
    background-color: #0f0e31;
}

.leftnav {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.leftnav li {
    margin: 0;
    padding: 0;
}

.leftnav span {
    display: block;
    margin: 0;
}

.leftnav a, .leftnav a:hover {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 5px;
}

.leftnav a:hover {
    background-color: #254a7d;
}


.leftnav span {
    font-size: 25pt;
}


#main {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 90%;
}

.middle {
    padding: 0;
    color: #254a7d;
    display: inline;
}

.middle:hover {
    padding: 0;
    color: #368798;
    display: inline;
}

    #main-top {
        min-width: 700px;
        width: 100%;
        padding-left: 10px;
        /*height: 64px;*/
        /*min-height: 500px;*/
        border-bottom: 1px solid #ccc;
        display: block;
        margin: 0;
    }

    #main-bottom {
        background-color: transparent;
        display: block;
        padding-left: 20px;
        margin: 0;
    }

td, th {
    padding-left: 10px;
}

table, td {
    vertical-align: top;
    padding-bottom: 5px;
}

th {
    font-weight: bold;
    background-color: #ccc;
    padding-bottom: 10px;
    border-right: 1px solid #fff;
}

.shaded {
    background-color: #eee;
}

.clickable-row:hover {
    background-color: #eee;
    cursor: pointer;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

/* Manage tabs */
.tab-page {
    visibility: none;
}

.tab-page:first-of-type {
    display: inherit;
}

.tab-container {
    position: static;
}

