@{
    Layout = "_MasterLayout";
}

<div id="titleband">Egret</div>
<div id="container">
    <nav class="leftnav">
        <ul>
            <li class="icon"><a href="javascript:void(0);" onclick="TriggerResponsiveNavigation()"><span class="fas fa-bars"></span>Menu</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area=""><span class="fas fa-home"></span>Home</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area="Inventory"><span class="fas fa-barcode"></span>Inventory</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area=""><span class="fas fa-folder-open"></span>Projects</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area=""><span class="fas fa-user"></span>Suppliers</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area="Reports"><span class="fas fa-chart-bar"></span>Reports</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area="Admin"><span class="fas fa-cogs"></span>Admin</a></li>
        </ul>
    </nav><div id="main">
        <div id="main-top" style="padding: 10px;">
            <div class="row">
                <div class="col-md-6">@ViewData["PageTitle"]</div>
                <div class="col-md-2 offset-md-4">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, @User.Identity.Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-action="ChangePassword" asp-area="" asp-controller="Account">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-area="" asp-controller="Account">Log Out</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div id="main-bottom">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success" class="alert alert-success">
                    <span class="fas fa-check"></span> @TempData["SuccessMessage"]
                </div>
            }
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" asp-validation-summary="All"></div>
            }

            @RenderBody()
        </div>
    </div>

</div>
