@{
    Layout = "_MasterLayout";
}

<div id="titleband">Egret</div>
<div id="container">
    <nav class="leftnav">
        <ul>
            <li class="icon"><a href="javascript:void(0);" onclick="TriggerResponsiveNavigation()"><span class="fas fa-bars"></span>Menu</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area=""><span class="egret egret-home"></span>Home</a></li>

                <li><a asp-action="Index" asp-controller="Home" asp-area="Inventory"><span class="egret egret-inventory"></span>Inventory</a></li>

            @*<li><a asp-action="Index" asp-controller="Home" asp-area="Projects"><span class="egret egret-projects"></span>Projects</a></li>*@
            @*<li><a asp-action="Index" asp-controller="Home" asp-area="Suppliers"><span class="egret egret-suppliers"></span>Suppliers</a></li>*@
            <li><a asp-action="Index" asp-controller="Home" asp-area="Reports"><span class="egret egret-reports"></span>Reports</a></li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin_Access"))
            {
                <li><a asp-action="Index" asp-controller="Home" asp-area="Admin"><span class="egret egret-admin"></span>Admin</a></li>
            }
            
        </ul>
    </nav><div id="main">
        <div id="main-top">
            <div class="row">
                <div class="col-md-6">@ViewData["PageTitle"]</div>
                <div class="col-md-2 offset-md-4">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, @User.Identity.Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="Account" asp-controller="Home" asp-action="ChangePassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Account" asp-controller="Home" asp-action="Logout">Log Out</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div id="main-bottom">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success" class="alert alert-success">
                    <span class="egret egret-check"></span> @TempData["SuccessMessage"]
                </div>
            }
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" asp-validation-summary="All"></div>
            }

            @RenderBody()
        </div>
    </div>

</div>
