<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/css/reset.css" />

    <environment names="production">
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/*.min.js"></script>
    </environment>
    <environment names="development">
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script asp-src-include="~/lib/jquery/dist/jquery.js"></script>
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/*.js"></script>
    </environment>

    <link rel="stylesheet" asp-href-include="~/css/*.css" />

    <script asp-src-include="~/scripts/*.js"></script>

    <title>@ViewData["WindowTitle"]</title>
</head>
<body>
    <div id="titleband">Egret</div>

    <div id="container">
        <div>
            <div class="leftnav">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a asp-area="" asp-controller="Inventory" asp-action="Index"><span class="glyphicon glyphicon-tag"></span>Inventory</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="Events"><span class="glyphicon glyphicon-barcode"></span>Events</a></li>
                    <li><a asp-area="" asp-controller="Suppliers" asp-action="Index"><span class="glyphicon glyphicon-user"></span>Suppliers</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
                </ul>
            </div><div id="main">
                <div id="main-top" class="lead">
                    @ViewData["PageTitle"]
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="btn btn-sm btn-default pull-right" style="margin-top: 15px; margin-right: 15px" asp-action="Logout" asp-controller="Account">Log Out</a>
                    }
                </div>
                <div id="main-bottom">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div id="success" class="alert alert-success">
                            <span class="glyphicon glyphicon-check"></span> @TempData["SuccessMessage"]
                        </div>
                    }
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" asp-validation-summary="All"></div>
                    }

                    @RenderBody()
                </div>
            </div>

        </div>
    </div>


</body>
</html>

