@{
    Layout = "_MasterLayout";
    ViewData["WindowTitle"] = "Egret - Login";
}

    
<div class="login-box">
    <div id="titleband">Egret</div>
    <div class="login-title">Login</div>
    <div class="login-form">
        @RenderBody()
    </div>
</div>
