<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script asp-src-include="~/dist/bundle.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <environment names="production">
        <script asp-src-include="~/test/jquery/dist/jquery.min.js"></script>
    </environment>
    <environment names="development">
        <script asp-src-include="~/test/jquery/dist/jquery.js"></script>
    </environment>

    <script asp-src-include="~/scripts/*.js"></script>


    <title>@ViewData["WindowTitle"]</title>
</head>
<body>

    @RenderBody()

</body>
</html>
