<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/dist/css/egret-styles.css" />
    <script asp-src-include="~/dist/bundle.js"></script>
    <script asp-src-include="~/dist/scripts/egret-custom.js"></script>
    <title>@ViewData["WindowTitle"]</title>
</head>
<body>

    @RenderBody()


    <script type="text/javascript">
        $(document).ready(function () {
            AutoFocusFirstFormInput();
            ManageValidationErrors();
            FadeOutSuccessMessages();

            @RenderSection("Scripts", required: false)
        });

    </script>
    

</body>
</html>
