<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script asp-src-include="~/packages/jquery-3.5.1/jquery.min.js"></script>
    <script asp-src-include="~/packages/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
    <script asp-src-include="~/dist/scripts/egret-custom.js"></script>
    <link rel="stylesheet" href="~/dist/css/egret-styles.css" />
    <title>@ViewData["WindowTitle"]</title>
</head>
<body>

    @RenderBody()
    <div class="version">
        Version @Constants.VersionNumber
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            AutoFocusFirstFormInput();
            ManageValidationErrors();
            FadeOutSuccessMessages();

            @RenderSection("Scripts", required: false)
        });

    </script>


</body>
</html>
