<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/dist/css/styles.css" />
    <script asp-src-include="~/dist/bundle.js"></script>
    <script asp-src-include="~/src/scripts/custom.js"></script>
    <title>@ViewData["WindowTitle"]</title>
</head>
<body>

    @RenderBody()

</body>
</html>
