@{
    Layout = "_DefaultLayout";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            @RenderBody()
            @section Scripts {
                ManageTabs()
                @RenderSection("Scripts", required: false)
            }
        </div>
    </div>
</div>
