@model ConsumptionEvent

@{
    Layout = "_SingleColumnLayout";
    ViewData["WindowTitle"] = "Consumption Event - Create";
    ViewData["PageTitle"] = "Create Consumption Event";
}

<form asp-action="Create">

    <fieldset class="default-fieldset">
        <legend class="col-form-label default-legend">Item</legend>

        <label asp-for="@Model.InventoryItemId" include-languages="Nepali" class="control-label required"></label>
        <div class="form-group form-inline">
            <input asp-for="InventoryItemId" class="form-control form-inline mr-2" />
            <a id="callApi" class="btn btn-success" title="Check Inventory Code"><span class="egret egret-refresh"></span></a>
        </div>

        <div class="form-group">
            <label egret-class="InventoryItem" egret-property="Description" include-languages="Nepali" class="control-label">Description</label>
            <textarea id="apiDescription" class="form-control" readonly></textarea>
        </div>

        <div class="form-group">
            <label egret-class="InventoryItem" egret-property="CustomerReservedFor" include-languages="Nepali" class="control-label">Customer Reserved For</label>
            <p id="apiCustomer" class="form-control" readonly />
        </div>
    </fieldset>

    <div class="form-group">
        <label asp-for="DateConsumed" include-languages="Nepali" class="control-label required"></label>
        <input asp-for="DateConsumed" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ConsumedBy" include-languages="Nepali" class="control-label required"></label>
        <input asp-for="ConsumedBy" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="OrderNumber" include-languages="Nepali" class="control-label"></label>
        <input asp-for="OrderNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PatternNumber" include-languages="Nepali" class="control-label"></label>
        <input asp-for="PatternNumber" class="form-control" />
    </div>

    <label asp-for="QuantityConsumed" include-languages="Nepali" class="control-label required"></label>
    <div class="form-group form-inline">
        <input asp-for="QuantityConsumed" class="form-control mr-2" style="width: 25%" />
        <p id="apiUnit" asp-for="Unit" readonly class="form-control" style="width: 25%" />
    </div>

    <div class="form-group">
        <label asp-for="Comments" include-languages="Nepali" class="control-label"></label>
        <textarea asp-for="Comments" class="form-control"></textarea>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Home" asp-action="Index" asp-route-id="@Context.Request.Query["sourceId"]" class="btn btn-default">Cancel</a>

</form>

@section Scripts {
    PrepApiController();
}

