@model ConsumptionEvent

@{
    Layout = "_CrudSingleColumn";
    ViewData["WindowTitle"] = "Consumption Event - Create";
    ViewData["PageTitle"] = "Create Consumption Event";
}

<form asp-action="Create">

        <label class="control-label">Inventory Item</label>
        <div style="border: 1px solid #000; padding: 10px;">
            <label asp-for="@Model.InventoryItemCode" include-languages="Nepali" class="control-label required"></label>
            <div class="form-group form-inline">
                <input asp-for="InventoryItemCode" class="form-control form-inline" />
                <a id="callApi" class="btn btn-success" title="Check Inventory Code"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>

            <div class="form-group">
                <label egret-class="InventoryItem" egret-property="Description" include-languages="Nepali" class="control-label">Description</label>
                <textarea id="apiDescription" class="form-control" readonly></textarea>
            </div>

            <div class="form-group">
                <label egret-class="InventoryItem" egret-property="CustomerReservedFor" include-languages="Nepali" class="control-label">Customer Reserved For</label>
                <p id="apiCustomer" class="form-control" readonly />
            </div>

        </div><br />

        <div class="form-group">
            <label asp-for="DateOfConsumption" include-languages="Nepali" class="control-label required"></label>
            <input asp-for="DateOfConsumption" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ConsumedBy" include-languages="Nepali" class="control-label required"></label>
            <input asp-for="ConsumedBy" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="OrderNumber" include-languages="Nepali" class="control-label"></label>
            <input asp-for="OrderNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="PatternNumber" include-languages="Nepali" class="control-label"></label>
            <input asp-for="PatternNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="QuantityConsumed" include-languages="Nepali" class="control-label required"></label>
            <input asp-for="QuantityConsumed" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Unit" include-languages="Nepali" class="control-label"></label>
            <input asp-for="Unit" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Comments" include-languages="Nepali" class="control-label"></label>
            <textarea asp-for="Comments" class="form-control"></textarea>
        </div>

        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-area="Inventory" asp-controller="Home" asp-action="Index" asp-route-id="@Context.Request.Query["sourceid"]" class="btn btn-default">Cancel</a>

</form>

