@model ConsumptionEventModel

@{
    Layout = "_CrudDoubleColumn";
    ViewData["WindowTitle"] = "Consumption Event - Details";
    ViewData["PageTitle"] = "Details Consumption Event: " + @Model.ConsumptionEvent.Id;
}


<div class="row">
    <div class="col-md-8">

        <!-- Tab Links -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a id="details-tab" class="nav-link active" href="#details">Details</a></li>
        </ul>

        <br />

        <!-- Details -->
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labeledby="details-tab">
                <div class="col-md-6">

                    <div class="form-group">
                        <input type="hidden" asp-for="ConsumptionEvent.InventoryItemCode" />
                        <label asp-for="ConsumptionEvent.Id" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.Id" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.InventoryItemCode" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.InventoryItemCode" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.DateOfConsumption" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.DateOfConsumption" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.ConsumedBy" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.ConsumedBy" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.OrderNumber" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.OrderNumber" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.PatternNumber" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="ConsumptionEvent.PatternNumber" class="form-control" readonly />
                    </div>

                    <label asp-for="ConsumptionEvent.QuantityConsumed" include-languages="Nepali" class="control-label"></label>
                    <div class="form-group form-inline">
                        <input asp-for="ConsumptionEvent.QuantityConsumed" class="form-control mr-2" readonly />
                        <input asp-for="InventoryItems[0].UnitId" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="ConsumptionEvent.Comments" include-languages="Nepali" class="control-label"></label>
                        <textarea asp-for="ConsumptionEvent.Comments" class="form-control" readonly></textarea>
                    </div>

                    <div>
                        <a asp-controller="Home" asp-action="Index">Return to Inventory</a>
                    </div>

                    <br />

                </div>
            </div>

        </div>


    </div>

    <div class="col-md-4">

        @await Html.PartialAsync("_ObjectInformationWidget", Model.ConsumptionEvent)

        @await Html.PartialAsync("_RelatedObjectsWidget", new RelationshipViewModelInventory((List<InventoryItem>)Model.InventoryItems))

    </div>
</div>

